# Git দ্বারা উপেক্ষা করার জন্য ফাইলসমূহ
# Node Modules (Node.js/Express এর জন্য প্রয়োজনীয়)
node_modules

# Firebase Service Account Key (এটি খুবই গুরুত্বপূর্ণ)
serviceAccountKey.json

# Vercel এবং টেম্পোরারি ফাইল
.vercel
npm-debug.log
yarn-error.log
